<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon slot="end" class="big black" src="/assets/imgs/xfiler.svg"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" class="bigger black" src="/assets/imgs/folder.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
  <img style="margin-top: 10%;" src="/assets/imgs/A-2.gif" alt="">
  <button style="background-color: black; width: 50%; margin-left: 25%; margin-top: 10%;" (click)="go()"><img src="/assets/imgs/calling.png" alt=""></button>
  <img style="width: 20%; margin-left: 40%; margin-top: 10%;" src="/assets/imgs/xfiler_light.png" alt="">
</ion-content>
