<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon slot="end" class="big black" src="/assets/imgs/xfiler.svg"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" class="bigger black" src="/assets/imgs/folder.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">
  <img src="/assets/imgs/A-1.png" style="display: block;" alt="">
  <img src="/assets/imgs/A-2.png" style="display: block;" (click)="go()" alt="">
  <img src="/assets/imgs/A-3.png" style="display: block;" alt="">
</ion-content>
