ion-icon {
    &.big {
      width: 70px;
      height: 50px;
    }
	
    &.bigger {
      width: 40px;
      height: 40px;
    }
	
    &.red {
      color: red;
    }
    &.black {
        color: black;
    }
}

#passwordInput{
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #08FAF3;
  border: 4px solid white;
  font-size: 29px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sc-ion-input-md-h{
  --placeholder-opacity: .8;
}

#downloadButton{
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 4px solid white;
  color: black;
}

#img3{
  width: auto;
  margin-left: 35%;
  align-self: center;
  background: none;
}