img{
    width: auto;
    margin: auto;
    display: block;
}

#img3{
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    align-self: center;
    background: none;
}

#progressBar{
    height: 30px;
}

ion-icon {
    &.big {
      width: 70px;
      height: 50px;
    }
	
    &.bigger {
      width: 40px;
      height: 40px;
    }
	
    &.red {
      color: red;
    }
    &.black {
        color: black;
    }
}

ion-content.background{
    --background: black;
    // --background: url(../../assets/imgs/background.gif) 0 0/100% 100% no-repeat;
}

.borderImage{
    border: 3px solid #08FAF3;
}

#img1{
    width: 80%;
}