<ion-header>
  <ion-toolbar color="yellow">
    <img object-fit: cover src="../../assets/imgs/bar-background.png" >
    <!-- <ion-buttons slot="start">
      <ion-icon slot="end" class="big black" src="/assets/imgs/xfiler.svg"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" class="bigger black" src="/assets/imgs/wifi.svg"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="background" [scrollEvents]="false">

  <!-- <ion-row class="numeric_button_row">
    <ion-col style="position: absolute; bottom: 5%;">
      <ion-button id="call_button" (click)="playAudio()" size="large" color="success" expand="block">전화 받기</ion-button>
    </ion-col>
  </ion-row> -->
  <!-- <img style="width: 100%;" src="{{gifImage}}" alt=""> -->
  <img style="width: 100%; position: absolute;" src="/assets/imgs/A-1.gif" alt="">
  <!-- <ion-grid>
    <ion-row class="numeric_button_row" style="margin-top: 123%; margin-left: 35%;">
      <ion-col>
        <ion-button class="numeric_button" (click)="audioControl()" style="--border-radius: 50%; height: 100%; --background: transparent;">
          <img id="clickButton" style="width: 100%; height: 100%;" src="{{image}}" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <img style="width: 100%;" src="/assets/imgs/A-2.png" (click)="presentModal()" alt="">
  <img style="width: 100%; margin-top: 10%;" src="/assets/imgs/A-3.png" alt=""> -->
  <!-- <ion-card class="welcome-card"> -->
    <!-- <img id="img1" class="borderImage" src="/assets/imgs/A.gif" alt="" /> -->
    <!-- <ion-card-header>
      <ion-card-title id="textContent" color="light" class="ion-text-center">
        엑스파일러 요원은<br>
        하단에 지문을 3초간 스캔하여<br>
        신원을 인증하시오.<br>
      </ion-card-title>
    </ion-card-header> -->
    <!-- <ion-progress-bar id="progressBar" type="determinate" color="success" [value]="percentage"></ion-progress-bar> -->
    <!-- <button id="img3" style="width: 80%;" (ontouchstart)="onPress($event)" (press)="onPress($event)" (pressup)="onPressUp($event)" ontouchend> -->
    <!-- <img class="borderImage" id="img3" (click)="onPress($event)" (ontouchstart)="onPress($event)" (press)="onPress($event)" (ontouchend)="onPress($event)" (pressup)="onPress($event)" src="assets/imgs/A-1.gif" alt=""> -->
        <!-- /button> -->
  <!-- </ion-card> -->
</ion-content>
